{% extends "::layout.html.twig" %}
{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
	{% block NasApp_body %}	
	
		<div class="row">
			<div class="col-md-3">
					{{ render(controller("TonicmanagerAppBundle:Default:scanCarte")) }}
			</div>
			<div class="col-md-8">
					{{ render(controller("TonicmanagerAppBundle:Default:rechercheClient")) }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				{{ render(controller("TonicmanagerAppBundle:Default:consultation")) }}
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Statistique</h3>
					</div>
					<div class="panel-body">
						<button type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-stats"></span></button>
					</div>
				</div>	
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Fréquentations</h3>
					</div>
					<div class="panel-body">
						<button type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-transfer"></span></button>
					</div>
				</div>	
			</div>

		</div>
		
	{% endblock %}
	</div>
{% endblock %}