{% extends "::layout.html.twig" %}
{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{% block NasApp_body %}	
			<h3>Fiche {{client.id}} : {{client.nom}}</h3>
			<div>
				CONTENU DE LA FICHE
			</div>
	{% endblock %}
{% endblock %}