{% extends "TonicmanagerAppBundle::admin.html.twig" %}
{% block title %}
	{{ parent() }}
{% endblock %}

{% block TonicManagerAdminTitre_body %}Administration{% endblock %}
{% block TonicManagerAdmin_body %}	
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-primary">
				  <div class="panel-heading">
					<h3 class="panel-title">Abonnement</h3>
				  </div>
				  <div class="panel-body">
					Panel content
				  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary">
				  <div class="panel-heading">
					<h3 class="panel-title">Option</h3>
				  </div>
				  <div class="panel-body">
					Panel content
				  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary">
				  <div class="panel-heading">
					<h3 class="panel-title">Outil</h3>
				  </div>
				  <div class="panel-body">
					Panel content
				  </div>
				</div>
			</div>
		</div>
{% endblock %}