<div class="panel panel-primary">
  <div class="panel-heading">
	<h3 class="panel-title">Scan Carte</h3>
  </div>
  <div class="panel-body">
		<form method="post" action="{{path('tonicmanagerAppBundle_scanClient')}}" {{ form_enctype(form) }}>
			<div class="form-group">
				<div class="col-md-9">
					{{ form_widget(form.id,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			{{ form_rest(form) }}
			
			
			<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-credit-card"></span></button>
		</form>
  </div>
</div>	

